body {
  font-family: Roboto;
  color: #324552;
}

.form-all {
  background: transparent !important;
}

#background-image {
  background: url('http://i.imgur.com/fZqrK1a.jpg') no-repeat center top fixed;
  background-size: cover;
  width: 100%;
  margin: 0px;
  top: 0px;
  left: 0px;
  position: absolute;
}

#overlay {
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0px;
  top: 0px;
  left: 0px;
  position: absolute;
  opacity: .92;
}

#overlay:last-of-type {
  opacity: .92;
}

.content {
  margin: auto;
  position: relative;
  width: 90%;
}

.logo {
  width: 270px;
  position: relative;
  margin-top: 15px;
}

#logo {
  font-family: Luckiest Guy;
  font-size: 2em;
  color: #094aa8;
  margin-top: 15px;
  margin-left: 15px;
  width: 50%;
  text-align: center;
}

#me {
  color: black;
}

#bag {
  color: blue;
  width: 30px;
}

.pitch {
  padding: 0px 0 25px 15px;
  font-size: 1em;
  text-align: left;
  position: relative;
}

.step {
  font-size: 1.5em;
}

.account {
  float: left;
  margin: auto;
}

#account-setup {
  margin: 15px 0 20px;
}

form {
  width: 100%;
}

input {
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: 1em;
  border-radius: 3px;
}

.ui.input {
  margin: 15px;
}

.login {
  height: 100px;
  position: absolute;
  border: none;
  top: 10px;
  right: 40px;;
  width: 350px;
  z-index: 10;
  }

.check-email {
  margin-top: 15px;
  text-align: center;
  z-index: 10;
}

#have-account{
  text-align: center;
}

#email-button {
  width: 100px;
  border: solid 2px #094aa8;
  top: 15px;;
  margin-left: 38%;
  font-weight: bold;
  color: #094aa8;
  padding: 10px 15px;;
  text-align: center;
}

#email-button:hover {
  border-color: black;
  color: black;
  cursor: pointer;
}

#login-button {
  width: 150px;
  border: solid 3px #094aa8;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  color: #094aa8;
  font-weight: bolder;
  padding: 15px 0;
}

#x {
  position: absolute;
  font-size: 1em;
  margin-top: 15px;
  color: #31373d;
}

#x:hover {
  cursor: pointer;
}

#login-button:hover {
  cursor: pointer;
  border-color: #000;
  color: #000;
}

#sorry {
  color: #cf0814;
  margin-top: 15px;
}

#account-info {
  width: 100%;
  min-width: 390px;
}

.ui {
  width: 100%;
}

.setup-descriptions {
  margin-left: 30px;
}

#twilio-info {
  width: 100%;
  min-width: 390px;
  height: 400px;
  clear: both;
  border: none;
  margin-top: 5%;
}

#twilio-setup {
  margin: 15px 0 20px;
}

#phone-title {
  font-size: 2em;
  font-weight: 100;
  margin-bottom: 45px;
}

#text-to {
  font-weight: 700;
  color: #094aa8;
}

#account-title {
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 10px 10px;
  position: relative;
}

.setup-descriptions {
  color: #7a7a7a;
}

tr > td {
  width: 60%;
}

#name {
  float: left;
  clear: left;
}

#address {
  float: left;
  clear: left;
}

#city {
  float: left;
  clear: left;
}

#state {
  float: left;
  clear: left;
}

#zip{
  float: left;
  clear: left;
}

table {
  width: 100%;
}

input[type=submit]{
  height: 50px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.save {
  border: solid 3px #094aa8;
  color: #094aa8;
  font-weight: bold;
  margin: auto;
  margin-top: 15px;
  width: 200px;
}

.save[disabled] {
  color: #d0d0d0;
  border-color: #d0d0d0;
}

.save[disabled]:hover {
  color: #d0d0d0;
  border-color: #d0d0d0;
  cursor: default;
}

.save:hover {
  color: black;
  border-color: black;
  cursor: pointer;
}

#save {
margin-bottom: 20px;
}

#phone-number {
  height: 60px;
  margin: 0 auto;
  transform: translateY(-50%);
  margin: auto;
}

.user {
  visibility: hidden;
  height: 450px;
  padding: 15px;
  font-size: 2em;
  font-style: italic;
}

#success {
  font-size: .7em;
  color: #094aa8;
  padding: 10px;
  height: 60px;
}

#name-results {
  font-weight: 1.3em;
  padding: 10px;
}

#address-results {
  font-weight: 1.3em;
  padding: 10px;
}

#city-results {
  font-weight: 1.3em;
  padding: 10px;
}

#phone-results {
  font-weight: 1.3em;
  padding: 10px;
}

#email-results {
  font-weight: 1.3em;
  padding: 10px;
}

#update {
  width: 175px;
  height: 30px;
  margin-left: 40%;
  margin-bottom: 10px;
  color: #cf0814;
  font-size: 1em;
  position: absolute;
  font-weight: bold;
}

#proceed {
  width: 175px;
  height: 30px;
  margin-left: 40%;
  margin-bottom: 10px;
  color: #3bbf3e;
  font-size: 1em;
  position: absolute;
  font-weight: bold;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #094aa8;
  width: 320px;
}

.text {
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  text-align: center;
  top: -50px;
  width: 320px;
  position: relative;
}

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 5%;
  transform: translateY(-50%);
  width: 320px;
}

svg {
  width: 320px;
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

#phone-text {
  font-size: 1.7em;
  font-weight: lighter;
  margin-bottom: 50px;
  height: 60px;
  width: 320px;
}

#phone-text:hover {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
  cursor: text;
}

.tutorial {
  border: solid 1px #094aa8;
  margin-top: 40px;
  height: 420px;
  float:left;
}

img {
  height: 35px;
}

.step {
  font-weight: bold;
}

#order {
  padding: 15px 15px 0 20px;;
  font-weight: bold;
  font-size: 1.3em;
}

.how-to {
  width: 31%;
  height: 190px;
  vertical-align: middle;
  padding-left: 15px;
}

#how-1 {
  padding-top: 10px;
  margin-bottom: 10px;
}

li {
  list-style: none;
  font-size: 1.1em;
  font-kerning: auto;
  margin: 5px 8px;
}

#phone-1 {
  width: 100%;
  top: 0;
}

#phone-2 {
  width: 100%;
  margin: auto;
}

#pizza {
  width: 100%;
  margin: auto;
}

.legend {
  margin-top: 5%;
  float: left;
  width: 100%;
}

#email-input {
  width: 300px;
  text-align: left;
}

#generate {
  width: 250px;
  margin: auto;
  border: solid 3px #094aa8;
  visibility: hidden;
  text-align: center;
  font-weight: bold;
  padding: 25px 0;
  color: #094aa8;
}

#generate:hover {
  border-color: #000;
  color: #000;
}

#generate:hover {
  cursor: pointer;
}

#next {
  position: absolute;
  width: 400px;
  height: 30px;
  margin-top: 5%;
  text-align: center;
  color: #3bbf3e;
  font-size: .85em;
  position: absolute;
  font-size: 1.3em;
  font-weight: bold;
}

.hand {
  font-size: 2em;
}

.emoji-input {
  width: 350%;
}

#emoji-setup {
  margin: 15px 0 20px;
}

.header {
  text-align: left;
}

.orders {
  margin-top: 20px;
}

.legend-emoji {
  font-size: 2em;
  padding-left: 15px;
  padding-right: 15px;
  width: 10%;
}

.legend-res {
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.3em;
  width: 25%;
}

th {
  font-size: 2em;
  font-weight: bolder;
}

#character {
  font-weight: bold;
  color: #094aa8;
}

#preference-saved {
  position: absolute;
  width: 250px;
  height: 30px;
  margin-left: 5%;
  color: #3bbf3e;
  font-size: .85em;
  position: absolute;
  font-size: 1.3em;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.screenshots {
  display: inline-block;
  vertical-align: top;
}

#screen-1 {
  margin-left: 27%;
}

.step-1 {
  display: inline-block;
}

.step-3 {
  display: inline-block;
  float: left;
}

#footer {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0px;
  margin-top: 50px;
}
